@import "tailwindcss";

:root {
  --background: #F9F9F9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #000000;
  --color-secondary: #1e2939;
  --font-sans: var(--font-outfit);
  --font-mono: var(--font-geist-mono);
  --font-geist: var(--font-geist);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.glass-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  z-index: 50;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  
  background: rgba(255, 255, 255, 0.2);
  
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
  
  border: 1px solid transparent;
  background-clip: padding-box;
}